<h1>06 – Encrypted Genomics</h1>
<p>Es werden ein Client-Key (lokal) und ein Server-Key (für das Backend) erzeugt. Dies dauert 30–90 Sekunden. </p>

<div class="action-grid">
    <div class="action-flex">
        <div class="action-card">
            <p class="card-title">
                Seqeunz hochladen
            </p>
            <p class="card-info">
                Laden Sie eine neue DNA-Sequenz hoch, mit denen andere Sequenzen abgeglichen werden können.
            </p>
            <textarea></textarea>
            <div class="button-spread">
                <div class="submit-button">
                    Hochladen
                </div>
                <div class="submit-button">
                    Ergebnisse Abrufen
                </div>
            </div>
        </div>
    </div>
    <div class="action-flex">
        <div class="action-card">
            <p class="card-title">
                Risikomuster hochladen
            </p>
            <p class="card-info">
                Laden Sie ein neues Risikomuster hoch, auf das hochgeladene DNA-Sequenzen überprüft werden können.
            </p>
            <textarea></textarea>
            <div class="submit-button">
                Hochladen
            </div>
        </div>
        <div class="action-card">
            <p class="card-title">
                Sequenz abgleichen
            </p>
            <p class="card-info">
                Vergleichen Sie Ihre DNA-Sequenz mit einer zuvor hochgeladenen Sequenz.
            </p>
            <textarea></textarea>
            <p>Session-ID:</p>
            <input type="text" class="id-input">
            <div class="submit-button">
                Vergleichen
            </div>
        </div>
    </div>
</div>