# Jeder Service hat seinen eigenen Owner
/services/01-encrypted-key-value-store/         @8Ninn
/services/02-encrypted-age-verification/        @Rafael131203
/services/03-encrypted-voting-polling/          @17Jones-Li
/services/04-sealed-bid-auction/                @AmirDarani
/services/05-encrypted-statistics-service/      @Rafael131203
/services/06-encrypted-genomics/                @Chrysoprase2
/services/07-encrypted-image-processing/        @Olivius-Kehzawokaso
/services/08-encrypted-leaderboard/             @MrBowlin
/services/09-encrypted-program-execution/       @SkateAbrogateDefenestrate

# Client
/client/                                        @SkateAbrogateDefenestrate

